* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("font/Inter.ttc") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font: "Inter", sans-serif; --dBtnColor: #ff6b6b;
  --divider: rgba(128, 128, 128, 0.705);
  --defaultColor: rgb(133, 133, 133);
  --appVersion: #b3b3b3;
  --dBtnColor: #ff6b6b;
  --dBtnColorHover: #ff4f4f;
  --dBtnShadowColor: #f02626;

}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
  /* padding: 10px; */
  text-align: center;
}

/* dimmer box */
.dimmer-box {
  width: 300px;
  padding: 10px 10px 0 10px;
}

/* dimmer title reset box */
.dimmer-title-reset-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.dimmer-title-reset-box h3 {
  margin: 0;
  font-size: 1rem;
  font-family: var(--font);
}

.dimmer-slide-box {
  /* border: 1px solid red; */
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.dimmer-slider-label {
  font-size: 0.75rem;
  margin: 0 0 5px 0;
}

/* brightness slider */
.dimmer-slider-box {
  display: flex;
  align-items: center;
}

.dimmer-slider-icon.moon {
  /* border: 1px solid black; */
  margin: 0 5px 0 0;
}

.dimmer-slider-icon.sun {
  /* border: 1px solid black; */
  margin: 0 0 0 5px;
}

.dimmer-slider-icon i {
  font-size: 1rem;
}

/* Styles for the slider */
#brightness-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 5px;
  outline: none;
}

#brightness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #a0d1e8;
  border-radius: 50%;
  cursor: pointer;
}

#brightness-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #a0d1e8;
  border-radius: 50%;
}

/* Style for the reset button */
#reset {
  background-color: var(--dBtnColor);
  border: none;
  color: white;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

#reset:hover {
  background-color: var(--dBtnColor);
  box-shadow: inset 0 0 20px var(--dBtnShadowColor);
  transition: all 0.3s ease-out;
}

/* footer */
.ap-sn-footer-box {
  /* position: fixed; */
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding: 10px;
  /* box-shadow: 0 0 5px var(--borderColor); */
  margin: 40px 0 0 0;
  /* font-family: var(--cFont); */
}

.ap-sn-version-product {
  display: flex;
  align-items: center;
}

.ap-sn-divider {
  margin: 0 10px;
  height: 15px;
  padding: 0.2px;
  background-color: var(--divider);
  color: var();
}

.ap-sn-footer-box p.app-from {
  font-size: 0.75rem;
  color: var(--defaultColor);
}

.ap-sn-footer-box p a {
  color: var(--defaultColor);
}

.app-version {
  color: var(--appVersion);
  font-size: 0.6rem;
}